/* SEARCH */
#searchButton {
    background-color: #F2F2F2 !important;
    color: #ac1e1e;
    height: 34px;
    font-weight: 900;
    border-color: #ddd;

}

.searchBar {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    /* border: 2px solid rgb(67, 5, 5); */
}

#searchInput {
    width: 700px;
    height: 28px;
    border: 2px solid rgb(67, 5, 5);

}

.searchRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;

}

.showSearchItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 2px solid rgb(67, 5, 5);

}

.showSearchItem div {
    margin: 15px;
}

.searchLeft,
.searchRight {
    min-width: 500px;
}

#searchImage {
    width: 100px;
    height: 100px;
}

#searchTitle {
    font-size: 15px;

}

.searchMiddle {
    display: flex;
    flex-direction: unset;
    justify-content: space-around;
}

/* ITEM */
#itemImage {
    width: 300px;
    height: 300px;
}

#itemDescription {
    font-weight: 700;
    font-style: italic;
}


/* All Categories */
#hamburgerImg {
    width: 40px;
    height: 30px;
}

.hamburgerMain {
    margin: -35px 0px 0px 100px;
    /* border: 2px solid black; */
}

.allCategoriesLinks {
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
}

#noUnder{ 
    text-decoration: none !important;
    color: brown;
    margin: 10px 0px 10px 0px;
    font-size: 18px;
    /* border: 2px solid black; */
}