/* SEARCH */
#searchButton {
    background-color: #F2F2F2 !important;
    color: #ac1e1e;
    height: 34px;
    font-weight: 900;
    border-color: #ddd;

}

.searchBar {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    /* border: 2px solid rgb(67, 5, 5); */
}

#searchInput {
    width: 700px;
    height: 28px;
    border: 2px solid rgb(67, 5, 5);

}

.searchRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;

}

.showSearchItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 2px solid rgb(67, 5, 5);
    width: 300px;
    height: 400px;
    margin-bottom: 10px;


}


.showSearchItem div {
    margin: 15px;
}

.searchLeft,
.searchRight {
    min-width: 500px;
    text-align: center;
}

#searchImage {
    width: 100px;
    height: 100px;
}

#searchTitle {
    font-size: 15px;

}

.searchMiddle {
    columns: 2 auto;
}



/* ITEM */
#itemImage {
    width: 300px;
    height: 300px;
}

#itemDescription {
    font-weight: 700;
    font-style: italic;
}


.showItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 2px solid rgb(67, 5, 5);
}


.showItem div {
    margin: 15px;
}

.showMiddle {}

/* All Categories */
#hamburgerImg {
    width: 40px;
    height: 45px;
}

.hamburgerMain {
    margin: -46px 0px 0px 100px;
    /* border: 2px solid black; */
    position: absolute;
}

.allCategoriesLinks {
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
}

#noUnder {
    text-decoration: none !important;
    color: brown;
    margin: 10px 0px 10px 0px;
    font-size: 18px;
    /* border: 2px solid black; */
}

/* IMAGE CENTER MAIN  WITH CIRCLES*/

.mainImageCenter {
    margin: 20px;
    display: flex;
    justify-content: center;
    /* border: 2px solid black; */
}

.mainImageCenter img {
    width: 700px;
    height: 400px;
    border: 5px solid rgb(199, 76, 19);
}

.mainCircle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 2px solid black; */
    margin: 50px 500px 30px 500px;
}

#mainCircleCenter {
    text-align: center;
}

#mainCircleCenter p {
    font-size: 17px;
    font-weight: 600;
    color: slategrey;
}



/* LOGO */

.logoMain {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    /* border: 2px solid black; */
}

#logoText {
    font-size: 35px;
    font-family: 'Gorditas', cursive;
    font-family: 'Nanum Myeongjo', serif;
    /* border: 2px solid black; */
    /* text-shadow: 3px 3px 6px rgb(90, 49, 13); */
}

#removeUnder {
    text-decoration: none;
    color: rgb(4, 3, 3);
}


/* ADD FOR SALE */

#addButton {
    width: 50px;
    height: 45px;
}

.addButtonLocation {
    display: flex;
    justify-content: flex-end;
    /* border: 2px solid black; */
    margin: -46px 300px 0px 0px;
}

.formCenter {
    display: flex;
    justify-content: center;
    border: 2px solid black;
}

.formCenter form h1 {
    text-align: center;
}

#column-center {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#column-center label {
    text-align: center;
    margin: 5px;
    font-size: 20px;

}

#column-center input {
    width: 700px;
}

#submitButton {
    background-color: #d62828;
    font-size: 25px;
}


/* Shopping Cart */

.shoppingLocation {
    display: flex;
    justify-content: flex-end;
    /* border: 2px solid black; */
    margin: -55px 200px 0px 0px;
}

#cartButton {
    width: 50px;
    height: 45px;
}


/* ITEMS */

.searchMiddleItems {
    columns: 4 auto;
}

.showItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 2px solid rgb(67, 5, 5);
    width: 200px;
    height: 400px;
    margin-bottom: 10px;
}

.showItems div {
    margin: 15px;
}


/* Brands */

.brandsMiddle {
    border: 2px solid rgb(67, 5, 5);
    width: 860px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.brandsMiddle div img {
    width: 150px;
    height: 150px;
    margin: 30px;
}

.mainMiddle p {
    text-align: center;
    font-weight: 800;
    font-size: 21px;
}


/* FACTS */

.factsMiddle {

    display: flex;
    justify-content: space-around;

}

#factsPosts img {
    width: 250px;
    height: 200px;
}

#factsPosts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 340px;
    height: 340px;
}

#itemsWord {
    text-align: center;
    color: #ac1e1e;
    margin-bottom: 30px;
}


@media only screen and (max-width: 380px) {

    #searchInput {
        width: 200px;
        height: 15px;
        border: 2px solid rgb(67, 5, 5);
    }

    #searchButton {
        background-color: #F2F2F2 !important;
        color: #ac1e1e;
        height: 22px;
        font-weight: 900;
        border-color: #ddd;

    }

    .hamburgerMain {
        margin: 5px 0px 0px 20px;
        /* border: 2px solid black; */
        position: static;
    }

    .addButtonLocation {
        display: flex;
        justify-content: flex-end;
        /* border: 2px solid black; */
        margin: -50px 100px 5px 0px;

    }

    .shoppingLocation {
        display: flex;
        justify-content: flex-end;
        /* border: 2px solid black; */
        margin: -60px 10px 0px 0px;
    }

    .mainImageCenter {
        margin: 20px;
        display: flex;
        justify-content: center;
        /* border: 2px solid black; */
    }

    .mainImageCenter img {
        width: 300px;
        height: 200px;
        border: 5px solid rgb(199, 76, 19);
    }

    .mainCircle {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        /* border: 2px solid black; */
        margin: 50px 10px 10px 10px;
    }


    .searchLeft,
    .searchRight {
        min-width: 5px;
        text-align: center;
    }


    .searchMiddleItems {
        columns: 1 auto;
    }


    .mainMiddle p {
        text-align: center;
        font-weight: 500;
        font-size: 21px;
    }

    .brandsMiddle {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border: 2px solid rgb(67, 5, 5);
        width: 200px;
        height: 1000px;
    }

    .factsMiddle {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .searchRow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 0px;
        margin-bottom: 50px;
    }



    .formCenter {
        display: flex;
        justify-content: center;
        border: 2px solid black;
    }

    .formCenter form h1 {
        text-align: center;
    }

    #column-center {
        display: flex;
        flex-direction: column;
        margin: 20px;
    }

    #column-center label {
        text-align: center;
        margin: 5px;
        font-size: 20px;

    }

    #column-center input {
        width: 300px;
    }



    .searchMiddle {
        columns: 1 auto;
    }






}